[Unit]
Description=Odilon Object Storage Server
Documentation=https://odilon.io
Wants=network-online.target
After=network-online.target

[Service]
Environment="ODILON_HOME=/opt/odilon"
Environment="ODILON_CONF=/etc/odilon"
Environment="ODILON_LOGS=/var/log/odilon"
WorkingDirectory=/opt/odilon
User=odilon
Group=odilon
PermissionsStartOnly=true
ExecStart=/opt/odilon/bin/start-service.sh

# Restart the service only when it exits cleanly
Restart=on-success

StandardOutput=journal
StandardError=inherit

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=0

# SIGTERM signal is used to stop Odilon
KillSignal=SIGTERM
SendSIGKILL=no
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target